<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="footer">
    <a href="/"><img src="img/twitter-grey.png" onmouseover="hover_twitter(this);" onmouseout="unhover_twitter(this);" /></a>
    <a href="/"><img src="img/fb-grey.png" onmouseover="hover_fb(this);" onmouseout="unhover_fb(this);" /></a>
    <br><a href="/">Privacy Policy</a>
  </div>
</nav>