<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <p>
        <h3 id="stuff">Words words words words words words words words words words.</h3>
      </p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <img src="img/unicorn.jpg" alt="unicorn" id="unicorn" class="home-image">
    </div>
  </div>
</div>